*{
    margin: 0;
}

.keywords {
    color: #A5B4FC;
}

body{
    background-color: #ede1e1;
}

nav,footer{
    padding: 1em 2em;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

section{
    padding: 3em;
}

.main-a-propos{
    width: 900px;
    margin: auto;
}

.main-acceuil{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    margin:auto;
}

.main-projet{
    background-color: white;
}

.main-projet > h2{
    text-align: center;
    color: #242424;
    font-size: 1.5em;
    margin-bottom: 2em;
}

.main-projet > div {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    grid-template-rows: 0.25fr 0.5fr;
    gap: 15px;

}

.projet-acceuil{
    grid-column-start: 1;
    grid-column-end: 4;
}

.projet {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills{
    padding: 2em;
}

p {
    font-family: "Manrope", sans-serif;
    font-size: 1.1em;
    margin: 1.5em;
    margin-bottom: 3em;
}

ul, a {
    font-family: "Manrope", sans-serif;
    font-size: 1em;
    text-decoration: none;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.8em;
    color: #A5B4FC;
    margin: 0.5em;

}

#h1-propos{
    text-wrap: nowrap;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    color: #A5B4FC;
    margin-top: 0.5em;
    padding-top: 0.2em;
}

.skill-list{
    margin-top: 1em;
    padding-top: 1em;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

nav > a:hover,
nav > div > a:hover,
footer > a:hover,
footer > div > a:hover,
.skill-list > li > a:hover{
    opacity: 0.5;
}

.logo {
    width: 4em;
    height: 4em;
}

.logo_lang{
    width: 6em;
}

#photo {
    width: 20em;
    height: 20em;
    border-bottom: 1px solid #8e86b5;
    border-right: 1px solid #8e86b5;
}

.skills{
    border-bottom: 1px solid #8e86b5;
    border-right: 1px solid #8e86b5;
}

.cta {
    background: linear-gradient(#8E86B5,#ACAEED);
    font-family: "Manrope", sans-serif;
    font-size: 1em;
    border-radius: 50px;
    margin: 1.5em;
    padding: 1em;
    display: inline-block;
}

.cta:hover{
    background: linear-gradient(#696484,#8788BA);
}

.photo-hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.lien-projet{
    position: relative;
}

.lien-projet:hover .photo-hover{
    display: flex;
}

form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 1.5em;
}

input{
    margin: 0.2em;
    padding: 0.4em;
    border-radius: 7px;
}

label{
    margin:0.2em;
    padding: 0.2em;
    text-wrap: nowrap;
}

textarea{
    margin: 0.2em;
    padding: 2em;
    width: 33em;
    height: 6em;
    border-radius: 5px;
}

form > div {
    display: flex;
    flex-direction: row;
}

.submit{
    width: 20%;
    border-radius: 2px;
}